node_red_flow.json
[{"id":"7c1100f9.da75e","type":"tab","label":"WindTurbine Prediction","disabled":false,"info":""},{"id":"cae69998.aef438","type":"http request","z":"7c1100f9.da75e","name":"Request Lat/Lon","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":183,"y":150,"wires":[["fa1a7902.ada2d8","12839570.be0ddb","c662d478.fc7408","bdb1a6a.1d6f558"]]},{"id":"fa1a7902.ada2d8","type":"debug","z":"7c1100f9.da75e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":60,"wires":[]},{"id":"1907d284.d2279d","type":"function","z":"7c1100f9.da75e","name":"Set geocoding API URL","func":"msg.url=\"https://maps.googleapis.com/maps/api/geocode/json?address=\"+msg.payload.City+\"&key=AIzaSyDKKDdXYmp7YywBLXwFoPbO4SBc76IU1RE\"\nreturn msg;","outputs":1,"noerr":0,"x":173,"y":110,"wires":[["cae69998.aef438"]]},{"id":"42629cf9.a6e174","type":"ui_form","z":"7c1100f9.da75e","name":"Get City of operations","label":"","group":"ecf93b5a.172ac8","order":1,"width":0,"height":0,"options":[{"label":"City of Operations","value":"City","type":"text","required":true,"rows":null}],"formValue":{"City":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":123,"y":70,"wires":[["1907d284.d2279d","4d9ad28f.c308ac","abd80025.d2242"]]},{"id":"12839570.be0ddb","type":"function","z":"7c1100f9.da75e","name":"Set Openweathermap API URL","func":"msg.url=\"https://api.openweathermap.org/data/2.5/onecall?lat=\"+msg.payload.results[0].geometry.location.lat+\"&lon=\"+msg.payload.results[0].geometry.location.lng+\"&%20exclude=daily&appid=78ef7084e563cc27617684be82413071\"\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":190,"wires":[["a3c7283c.48ed98"]]},{"id":"6565d8b9.38daf8","type":"debug","z":"7c1100f9.da75e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":693,"y":230,"wires":[]},{"id":"a3c7283c.48ed98","type":"http request","z":"7c1100f9.da75e","name":"Get climatic conditions","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":283,"y":230,"wires":[["6565d8b9.38daf8","b23e6f18.f328d","8aa5b06c.6cee1"]]},{"id":"b23e6f18.f328d","type":"function","z":"7c1100f9.da75e","name":"PreToken","func":"global.set(\"ws\",msg.payload.current.wind_speed)\nglobal.set(\"ws1\",msg.payload.daily[1].wind_speed)\nglobal.set(\"ws2\",msg.payload.daily[2].wind_speed)\nglobal.set(\"ws3\",msg.payload.daily[3].wind_speed)\nvar apikey=\"pnG9aGYncp8NVklcND_3-dQddBypOEW_ShEYRiOArP7D\"\nmsg.url=\"https://iam.cloud.ibm.com/identity/token\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":283,"y":270,"wires":[["bea2e847.fc5ab8"]]},{"id":"bea2e847.fc5ab8","type":"http request","z":"7c1100f9.da75e","name":"Get token","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":323,"y":310,"wires":[["71631efc.8ddc6"]]},{"id":"71631efc.8ddc6","type":"function","z":"7c1100f9.da75e","name":"Pre Prediction","func":"var ws = [global.get('ws')]\nvar ws1=[global.get('ws1')]\nvar ws2=[global.get('ws2')]\nvar ws3=[global.get('ws3')]\nvar token=msg.payload.access_token\nvar instance_id=\"45e2eaca-feeb-42e4-97e2-30fe56e21947\"\nmsg.url=\"https://eu-gb.ml.cloud.ibm.com/v4/deployments/970cac1e-f3c2-42b7-bb27-85076aca4e81/predictions\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"Wind Speed (m/s)\"], \"values\": [ws,ws1,ws2,ws3]}]}\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":350,"wires":[["129a43bb.a50bac"]]},{"id":"129a43bb.a50bac","type":"http request","z":"7c1100f9.da75e","name":"Get Prediction","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":423,"y":390,"wires":[["68d3bdd.ea28244","efab750d.f25648","6d92a917.3f2568"]]},{"id":"68d3bdd.ea28244","type":"debug","z":"7c1100f9.da75e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]},{"id":"a0dff020.8c866","type":"ui_ui_control","z":"7c1100f9.da75e","name":"","events":"all","x":900,"y":360,"wires":[[]]},{"id":"efab750d.f25648","type":"function","z":"7c1100f9.da75e","name":"Display output group","func":"msg.payload={\"group\": {\"show\": [\"Energy_Prediction_Output\"], \"hide\": [\"Energy_Prediction_Loading...\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":360,"wires":[["a0dff020.8c866"]]},{"id":"4d9ad28f.c308ac","type":"function","z":"7c1100f9.da75e","name":"hide output group","func":"msg.payload={\"group\": {\"hide\": [\"Energy_Prediction_Output\"], \"show\": [\"Energy_Prediction_Loading...\"]}}\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":55,"wires":[["bc5db13b.c9329"]]},{"id":"bc5db13b.c9329","type":"ui_ui_control","z":"7c1100f9.da75e","name":"","events":"all","x":600,"y":55,"wires":[[]]},{"id":"fd564834.4efb98","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":1,"width":0,"height":0,"name":"","label":"Latitude: ","format":"{{msg.payload.results[0].geometry.location.lat}}","layout":"row-spread","x":840,"y":180,"wires":[]},{"id":"cc37b8e7.1aec88","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":2,"width":0,"height":0,"name":"","label":"Longitude:","format":"{{msg.payload.results[0].geometry.location.lng}}","layout":"row-spread","x":850,"y":140,"wires":[]},{"id":"c662d478.fc7408","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":3,"width":0,"height":0,"name":"","label":"Address:","format":"{{msg.payload.results[0].formatted_address}}","layout":"row-spread","x":840,"y":100,"wires":[]},{"id":"8aa5b06c.6cee1","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":4,"width":0,"height":0,"name":"","label":"Current Weather:","format":"{{msg.payload.current.weather[0].description}}","layout":"row-spread","x":715,"y":267,"wires":[]},{"id":"716789d.d300478","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":5,"width":0,"height":0,"name":"","label":"Today's Output(in kW):","format":"{{msg.payload.predictions[0].values[0][0]}}","layout":"row-spread","x":900,"y":420,"wires":[]},{"id":"2b62ff86.86ea3","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":6,"width":0,"height":0,"name":"","label":"Day 1 Output(in kW):","format":"{{msg.payload.predictions[0].values[1][0]}}","layout":"row-spread","x":902,"y":460,"wires":[]},{"id":"4f562192.faf4a","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":7,"width":0,"height":0,"name":"","label":"Day 2 Output(in kW):","format":"{{msg.payload.predictions[0].values[2][0]}}","layout":"row-spread","x":904,"y":499,"wires":[]},{"id":"9fdee6bc.a2c3a8","type":"ui_text","z":"7c1100f9.da75e","group":"88e9327d.58647","order":8,"width":0,"height":0,"name":"","label":"Day 3 Output(in kW):","format":"{{msg.payload.predictions[0].values[3][0]}}","layout":"row-spread","x":904,"y":537,"wires":[]},{"id":"6d92a917.3f2568","type":"function","z":"7c1100f9.da75e","name":"Format Values","func":"var ws=global.get('ws')\nvar ws1=global.get('ws1')\nvar ws2=global.get('ws2')\nvar ws3=global.get('ws3')\nif(ws<3 || ws>25)\n{\n    msg.payload.predictions[0].values[0][0]=\"Wind Turbine cannot operate due to weather conditions.\"\n}\nelse\n{\n    msg.payload.predictions[0].values[0][0]=msg.payload.predictions[0].values[0][0].toFixed(1)\n}\nif(ws1<3 || ws1>25)\n{\n    msg.payload.predictions[0].values[1][0]=\"Wind Turbine cannot operate due to weather conditions.\"\n}\nelse\n{\n    msg.payload.predictions[0].values[1][0]=msg.payload.predictions[0].values[1][0].toFixed(1)\n}\nif(ws2<3 || ws2>25)\n{\n    msg.payload.predictions[0].values[2][0]=\"Wind Turbine cannot operate due to weather conditions.\"\n}\nelse\n{\n    msg.payload.predictions[0].values[2][0]=msg.payload.predictions[0].values[2][0].toFixed(1)\n}\nif(ws3<3 || ws3>25)\n{\n    msg.payload.predictions[0].values[3][0]=\"Wind Turbine cannot operate due to weather conditions.\"\n}\nelse\n{\n    msg.payload.predictions[0].values[3][0]=msg.payload.predictions[0].values[3][0].toFixed(1)\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":420,"wires":[["716789d.d300478","2b62ff86.86ea3","4f562192.faf4a","9fdee6bc.a2c3a8"]]},{"id":"bdb1a6a.1d6f558","type":"function","z":"7c1100f9.da75e","name":"Format Lat/Lon","func":"msg.payload.results[0].geometry.location.lng=msg.payload.results[0].geometry.location.lng.toFixed(2)\nmsg.payload.results[0].geometry.location.lat=msg.payload.results[0].geometry.location.lat.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["cc37b8e7.1aec88","fd564834.4efb98"]]},{"id":"c5e2ee0c.06b61","type":"ui_template","z":"7c1100f9.da75e","group":"ec230b40.efb708","name":"BGimage","order":0,"width":0,"height":0,"format":"\n<html>\n    <head>        \n        <style>\n            body{\n                background-image:url('https://scx2.b-cdn.net/gfx/news/2018/windfarmperf.gif');\n                background-repeat: no-repeat;\n                background-size: cover;\n            }\n        </style>\n    </head>\n    <body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":100,"y":300,"wires":[[]]},{"id":"abd80025.d2242","type":"ui_template","z":"7c1100f9.da75e","group":"8b1366b6.2faf68","name":"LoadingImage","order":1,"width":0,"height":0,"format":"<img ng-src=\"https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":409,"y":91,"wires":[[]]},{"id":"f6335e51.88416","type":"catch","z":"7c1100f9.da75e","name":"Catch errors","scope":null,"uncaught":false,"x":110,"y":380,"wires":[["6048b3eb.db4ccc"]]},{"id":"f51ce605.d89518","type":"ui_toast","z":"7c1100f9.da75e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Error","name":"Show Error","x":190,"y":460,"wires":[[]]},{"id":"6048b3eb.db4ccc","type":"function","z":"7c1100f9.da75e","name":"Set Error msg","func":"msg.payload=\"City entered cannot be found!!!<br>Please enter another city.\"\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":420,"wires":[["f51ce605.d89518"]]},{"id":"ecf93b5a.172ac8","type":"ui_group","z":"","name":"Input","tab":"6babdb60.bb5384","order":1,"disp":true,"width":"6","collapse":false},{"id":"88e9327d.58647","type":"ui_group","z":"","name":"Output","tab":"6babdb60.bb5384","order":2,"disp":true,"width":"6","collapse":false},{"id":"ec230b40.efb708","type":"ui_group","z":"","name":"message","tab":"d673e337.30ba5","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b1366b6.2faf68","type":"ui_group","z":"","name":"Loading...","tab":"6babdb60.bb5384","order":3,"disp":true,"width":4,"collapse":false},{"id":"6babdb60.bb5384","type":"ui_tab","z":"","name":"Energy Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"d673e337.30ba5","type":"ui_tab","z":"","name":"welcome","icon":"dashboard","order":1,"disabled":false,"hidden":false}]